@font-face {
  font-family: 'FuturaBT';
  src: url('../static/fonts/FuturaBT-Medium.eot');
  src: url('../static/fonts/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/FuturaBT-Medium.woff2') format('woff2'),
      url('../static/fonts/FuturaBT-Medium.woff') format('woff'),
      url('../static/fonts/FuturaBT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}